label {
    font-size: 20px;
    color: #5b719c;
}
input[type='radio'] + label {
    display: block;
}

input[type='radio'] {
    display: none;
}

label:before {
    margin-top: 0;

    @include for-desktop-up {
        margin-top: 4vh;
        margin-left: 1vw;
    }
}

input[type='radio'] + label:before {
    content: '';
    border: 0.1em solid $txt;
    background-color: #1c2541;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0 0 0.3em 0.2em;
    margin-right: 0.2em;
    vertical-align: center;
    color: transparent;
}

input[type='radio']:checked + label:before {
    background-color: #fff;
    color: #fff;
    border-color: $txt;
}

.radio-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: -55vh;

    @include for-desktop-up {
        flex-direction: column;
        align-items: center;
    }
}

.radio-menu-slide {
    transform: translateX(0);
    transition: 0.3s;
}

.radio-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include for-desktop-up {
        flex-direction: row;
    }
}

.radio-header {
    font-size: 26px;
    margin-right: 1vw;
    color: $txt;
}
