.header {
    position: relative;
    height: 100vh;
}

.rick-image {
    width: 50%;
    position: fixed;
    bottom: 0;
    left: -3vw;
    z-index: 1;

    @include for-desktop-up {
        width: 30%;
    }
}
.morty-image {
    width: 50%;
    position: fixed;
    right: -5vw;
    bottom: 0;
    margin-top: -10px;
    z-index: 1;

    @include for-desktop-up {
        width: 30%;
    }
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

.line::before {
    display: block;
    margin-top: -10px;
    width: 100%;
    height: 3px;
    background-color: white;
    content: '';
    transition: 0.3s;
}

.line::after {
    display: block;
    margin-top: 17px;
    width: 100%;
    height: 3px;
    background-color: white;
    content: '';
    transition: 0.3s;
}

.open .line {
    background: transparent;
    transition: 0.3s;
}

.open .line::before {
    transform: translateY(10px) rotateZ(45deg);
    transition: 0.3s;
}

.open .line::after {
    transform: translateY(-10px) rotateZ(-45deg);
    transition: 0.3s;
}

.menu {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.3s;
    animation-timing-function: ease-in-out;

    @include for-desktop-up {
        flex-direction: row;
        background: transparent;
        visibility: visible;
        justify-content: space-evenly;
        margin: 0;
        transform: translateY(0);
        position: relative;
    }
}

.menu-background {
    background-color: #1b262c;
    width: 100vw;
    height: 7vh;
}

.menu-btn:first-of-type {
    margin-top: 160px;

    @include for-desktop-up {
        margin-top: 0;
    }
}

.menu-btn {
    background: none;
    border: none;
    font-size: 34px;
    font-family: 'Gloria Hallelujah';
    color: rgb(243, 243, 243);
}

.menu-btn:hover {
    color: rgb(204, 204, 204);
    transition: 0.5s;
}

.show {
    visibility: visible;
    animation-timing-function: ease-in-out;
    transform: translateY(1.9%);
    height: 93%;
    transition: 0.3s;
}

.hamburger {
    position: absolute;
    margin-top: 15px;
    right: 30px;
    padding: 0;
    background: none;
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;

    @include for-desktop-up {
        display: none;
    }
}

.page-title {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    font-size: 48px;
    color: #bbe1fa;
    text-align: center;
}

.search-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 40%;
    justify-content: center;
}

.search-field {
    border-radius: 50px;
    padding: 20px;
    width: 80%;
    background: #1b262c;
    border: none;
    text-align: center;
    font-family: 'Gloria Hallelujah';
    color: rgb(243, 243, 243);

    @include for-desktop-up {
        width: 30%;
    }
}

.search-btn {
    border: none;
    height: 70px;
    background: none;

    @include for-desktop-up {
        margin-left: 2%;
    }
}

.invisible {
    display: none;
}
