.header {
    position: relative;
    height: 100vh;
}
.line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

.line::before {
    display: block;
    margin-top: -10px;
    width: 100%;
    height: 3px;
    background-color: white;
    content: '';
    transition: 0.3s;
}

.line::after {
    display: block;
    margin-top: 17px;
    width: 100%;
    height: 3px;
    background-color: white;
    content: '';
    transition: 0.3s;
}

.open .line {
    background: transparent;
    transition: 0.3s;
}

.open .line::before {
    transform: translateY(10px) rotateZ(45deg);
    transition: 0.3s;
}

.open .line::after {
    transform: translateY(-10px) rotateZ(-45deg);
    transition: 0.3s;
}

.menu {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 0%;
    visibility: hidden;
    transform: translateY(710px);
    transition: 0.3s;
    animation-timing-function: ease-in-out;

    @include for-desktop-up {
        flex-direction: row;
        background: transparent;
        visibility: visible;
        justify-content: space-evenly;
        margin: 0;
        transform: translateY(0);
        position: relative;
        top: 10px;
    }
}
.menu-btn:first-of-type {
    margin-top: 160px;

    @include for-desktop-up {
        margin-top: 0;
    }
}

.menu-btn {
    background: none;
    border: none;
    font-size: 34px;
    font-family: 'Gloria Hallelujah';
    color: rgb(243, 243, 243);
}

.menu-btn:hover {
    color: rgb(204, 204, 204);
    transition: 0.5s;
}

.show {
    visibility: visible;
    animation-timing-function: ease-in-out;
    transform: translateY(40px);
    height: 100%;
    transition: 0.3s;
}

.hamburger {
    position: absolute;
    margin: 40px 0 0 0;
    right: 30px;
    padding: 0;
    background: none;
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;

    @include for-desktop-up {
        display: none;
    }
}
