@import './common.scss';
@import './variables.scss';
@import './media.scss';

body {
    margin: 0;
    padding: 0;
    background: #091332;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header {
    .background {
        position: absolute;
        margin-left: -115%;
        width: 1350px;
        z-index: -1;
    }

    .hamburger {
        position: absolute;
        margin: 40px 0 0 340px;
        padding: 0;
        background: none;
        height: 40px;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;

        .line {
            width: 100%;
            height: 3px;
            background-color: white;
            transition: 0.3s;
        }

        .line::before {
            display: block;
            margin-top: -10px;
            width: 100%;
            height: 3px;
            background-color: white;
            content: '';
            transition: 0.3s;
        }

        .line::after {
            display: block;
            margin-top: 17px;
            width: 100%;
            height: 3px;
            background-color: white;
            content: '';
            transition: 0.3s;
        }
    }

    .open .line {
        background: transparent;
        transition: 0.3s;
    }

    .open .line::before {
        transform: translateY(10px) rotateZ(45deg);
        transition: 0.3s;
    }

    .open .line::after {
        transform: translateY(-10px) rotateZ(-45deg);
        transition: 0.3s;
    }

    .menu {
        position: absolute;
        z-index: 1;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        background: rgba($color: #000000, $alpha: 0.7);
        width: 100%;
        height: 100%;
        visibility: hidden;
        transform: translateY(710px);
        transition: 0.3s;
        animation-timing-function: ease-in-out;

        .link:first-of-type {
            margin-top: 160px;
        }

        .link {
            background: none;
            border: none;
            font-size: 34px;
            font-family: 'Gloria Hallelujah';
            color: rgb(243, 243, 243);
        }

        .link:hover {
            color: rgb(204, 204, 204);
            transition: 0.5s;
        }
    }

    .show {
        visibility: visible;
        animation-timing-function: ease-in-out;
        transform: translateY(40px);
        transition: 0.3s;
    }
}

main {
    z-index: -2;
    .home {
        position: absolute;
        margin-top: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70%;

        .character {
            border-radius: 50px;
            padding: 20px;
            width: 80%;
            background: #091332;
            border: none;
            text-align: center;
            font-family: 'Gloria Hallelujah';
            color: rgb(243, 243, 243);
        }

        .send {
            border: none;
            width: 15%;
            height: 70px;
            background: none;
        }
    }
}

@include mq-tablet;
@include mq-desktop;
