@mixin mq-tablet {
    @media screen and (min-width: 732px) {
        body {
            width: 738px;
            height: 603px;
        }
        .header {
            .background {
                margin-left: -42%;
            }

            .hamburger {
                margin: 40px 0 0 660px;
            }
        }

        main {
            .home {
                margin-top: 300px;
                .character {
                    width: 50%;
                }
            }
        }
    }
}

@mixin mq-desktop {
    @media screen and (min-width: 1400px) {
        .header {
            .background {
                margin: 0;
                width: 100%;
            }

            .hamburger {
                display: none;
            }
            .menu,
            .show {
                transform: translateY(0);
                visibility: visible;
            }

            .menu {
                background: transparent;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-evenly;

                .link:first-of-type {
                    margin-top: 0px;
                }

                .link {
                    margin: 0;
                }
            }
        }

        main {
            .home {
                margin-top: 25%;
            }
        }
    }
}
